<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="http://greglu.github.com/darkstrap/darkstrap.css" rel="stylesheet" />
    <style type="text/css" media="screen">
      .subscriber-alert {
        display: none;
      }
      .subscribers {
        padding: 10px 0;
      }
      .subscribers li {
        padding: 5px 0;
      }
      .subscriber {
        padding-right: 10px;
      }
      .subscriber-header {
        margin: 0;
      }
      .add-subscriber-alert {
        display: none;
      }
      .subscriber-form {
        margin: 0;
      }
      .icon-trash {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">

      <div class="row-fluid text-center">
        <div class="span12">
          <h6>Subscribe to webhooks with the following public endpoint</h6>
          <h2><a href="{{ eirobridge }}" target="_blank">{{ eirobridge }}</a></h2>
        </div>
      </div>

      <div class="row-fluid text-center">
        <div class="span12 well">
          <small class="muted">Then subscribe your internal endpoint</small>
          <h3 class="subscriber-header">Internal Subscribers</h3>
          <div class="subscriber-alert alert">
            <button class="close">&times;</button>
            <div class="text"></div>
          </div>
          <ul class="nav nav-list subscribers">
            {% for subscriber in subscribers %}
            <li><span class="subscriber">{{ subscriber }}</span> <i class="icon-trash icon-white"></i></li>
            {% endfor %}
          </ul>
          <div class="row-fluid text-center">
            <div class="span12">
              <form action="." method="POST" class="add-subscriber subscriber-form">
                <div class="input-append control-group">
                  <input class="span10" type="text" name="subscriber" value="http://" />
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
                <div class="add-subscriber-alert alert alert-success">
                  <button class="close">&times;</button>
                  <div class="text"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script>
    $('.add-subscriber').submit(function(e) {
      var self = $(this);
      var subscriberUrl = self.find('[name=subscriber]').val()
      console.log(subscriberUrl);

      $.ajax({
        url: ".",
        type: 'POST',
        data: subscriberUrl
      }).done(function(data) {
        var newListing = $('<li class="controls"><span class="subscriber">' + subscriberUrl + '</span> <i class="icon-trash icon-white"></i></li>');
        $('.subscribers').append(newListing);

        var notice = $('.add-subscriber-alert');
        notice.removeClass('alert-error').addClass('alert-success');
        notice.find('.text').text(data);
        notice.fadeIn('slow');

        setTimeout(function() {
          notice.fadeOut('slow');
        }, 5000);

        self.find('[name=subscriber]').val('');
      }).fail(function(jqXHR, textStatus, errorThrown) {
        var errorDialog = $('.add-subscriber-alert');
        errorDialog.addClass('alert-error').removeClass('alert-success');
        errorDialog.find('.text').text(jqXHR.responseText);
        errorDialog.fadeIn('slow');

        setTimeout(function() {
          errorDialog.fadeOut('slow');
        }, 5000);
      });

      return false;
    });

    $('.subscribers').on('click', '.icon-trash', function(e) {
      var self = $(this);
      var subscriberUrl = $(this).siblings('.subscriber').text();
      console.log(subscriberUrl);

      $.ajax({
        url: ".",
        type: 'DELETE',
        data: subscriberUrl
      }).done(function(data) {
        self.parent().remove();
      }).fail(function(jqXHR, textStatus, errorThrown) {
        var errorDialog = $('.subscriber-alert');
        errorDialog.addClass('alert-error').removeClass('alert-success');
        errorDialog.find('.text').text(jqXHR.responseText);
        errorDialog.fadeIn('slow');

        setTimeout(function() {
          errorDialog.fadeOut('slow');
        }, 5000);
      });
    });

    $('.subscriber-alert .close').click(function(e) {
      $('.subscriber-alert').fadeOut('slow');
    });

    $('.add-subscriber-alert .close').click(function(e) {
      $('.add-subscriber-alert').fadeOut('slow');
    });
  </script>

</html>
